body {
    background-color: #1E90FF;
    color: #fff;
    height: 100vh; /* Garante que o fundo preto ocupe toda a altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: #2b2929; /* Cor do quadrado ao redor do formulário */
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Largura do quadrado em relação ao viewport */
    max-width: 600px; /* Largura máxima do quadrado */
}

.form-control {
    background-color: #111; /* Fundo dos campos de input */
    color: #fff; /* Cor do texto nos campos de input */
    border-color: #333; /* Cor da borda dos campos de input */
}